{% extends "base.html" %}
{% block content%}


<div class="container mt-3">
  
    {# Go through each blog post #}
    
    <div class="col-8 offset-2">
    <h1>Feed &#129368</h1>
    {% for post in blog_posts.items %}


  <div class="card w-80 mb-3">
    <div class="card-body">
      <h4 class="card-title"><a style="text-decoration: none;" class="card-title" href="  {{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}">{{ post.title }}</a></h4>
      <p class="card-text">{{ post.text[:100] }}...</p>
      <img align='center' width="300" height="300" src="../static/post_pics/cat3.jpg">
      <br>
      By: <a style="text-decoration: none;" href="{{ url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a>; 
      <br> Published on: {{ post.date.strftime('%Y-%m-%d') }}
      <p></p>
      <a href="{{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}" class="btn btn-primary"style="background-color:bisque; border-color: bisque; color: rgb(40, 39, 39);">Read Post</a>
    </div>
  </div>
  

 {% endfor %}
 <nav aria-label="Page navigation example">
   <ul class="pagination justify-content-center">
     {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if blog_posts.page == page_num %}
        <li class="page-item disabled">
          <a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
        </li>
        {% else %}
          <li class="page-item"><a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
        {% endif %}
    {% endfor %}
  </nav>
</div>


{% endblock %}