{% extends "base.html" %}
{% block content%}
<div style="background-image: url(https://images.unsplash.com/photo-1515002246390-7bf7e8f87b54?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fGJhY2tncm91bmQlMjB0ZXh0dXJlJTIwY2F0fGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
height: 100%; width:100%; min-height: 100vh; background-repeat: no-repeat; background-size: cover">
    <div style=" background-color:rgba(252, 252, 252, 0.4); width: 100%; height: 100vh;display: flex; justify-content: center; align-items: center; ">
        <div class="container">
            <div class="col-4 justify-content-center" >
                <h2 class="mb-3 ">Login &#128062;</h2>
                <form method="POST">
                    {{form.hidden_tag()}}
                    <div class="form-group mb-3">
                        <label for="email">Email</label>
                        {{form.email(class_="form-control", id='email')}} 
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Password</label>
                        {{form.password(class_="form-control")}} 
                    </div>
                    {{form.submit(type="submit", class="btn btn-primary",style="background-color:bisque; border-color: bisque; color: rgb(40, 39, 39);")}} 
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}